html {
    scroll-behavior: smooth;
}

body {
    background-image: url(/kepek/fold2.jpg);
    background-attachment: fixed;
    background-size: 1920px 1080px;
    color: white;
}



#navbar {
  min-height: 50px;
  text-align: center;
  position: static; /* Make it stick/fixed */
  top: -50px    ; /* Hide the navbar 50 px outside of the  top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a{

  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {

  background-color: #dddddd33;
  color: rgb(206, 206, 206);
}

.title {
    margin-top: 50px;
    text-align: center;
    font-size: 700%;
    font-family: Qilka;
    color: rgba(255, 255, 255, 0.822);
    text-shadow: 5px 5px rgba(68, 68, 68, 0.705);
}

.landingleiras {
  margin-left: 350px;
  margin-right: 350px;
  margin-bottom: 300px;
  font-size: 150%;
  text-align: center;
  font-family: Qilka;
  color: rgb(255, 255, 255, 0.822);
  -webkit-text-stroke: 1px rgb(68, 68, 68);
  text-shadow: 2.5px 2.5px rgba(177, 175, 175, 0.705);
}

.kontinenstitle {
  margin-bottom: 5px;
  font-family: Qilka;
  text-align: center;
  align-content: center;
  font-size: 300%;
  text-shadow: 5px 5px rgba(68, 68, 68, 0.705);
}

.container {
  margin: 100px auto;
  width: 85%;
}

.kontinens {
  font-family: Qilka;
  display: flex;
  justify-content: center;
  min-height: 70vh;
}

.kontinens p{
  font-size: 150%;
  text-shadow: 5px 5px rgba(68, 68, 68, 0.705);
  margin-left: 20px;
}

.kep {
  max-width: 800px;
  float: left;
  margin-bottom: 100px;
}

.copyright{   
   position:sticky;
   text-align: center;
   bottom:0px;
   height:30px;
   width:100%;
}

@font-face {
  font-family: Qilka; 
  src: url(/font/Qilka-Bold\ copy.otf); 
}