body {
    background-image: url(/kepek/fold2.jpg);
    background-attachment: fixed;
    background-size: 1920px 1080px;
    color: white;
}

nav {
  text-align: center;
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -50px    ; /* Hide the navbar 50 px outside of the top view */
  width: 110%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
nav a{

  display: inline-block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

nav a:hover {
  background-color: #dddddd5e;
  color: black;
}

.title {
    text-align: center;
    font-size: 700%;
    font-family: Title;
    color: white;
}

@font-face {
  font-family: Title; 
  src: url(/font/Qilka-Bold\ copy.otf); 
}